<!DOCTYPE html>
<html  >
<head lang="en">
    <meta charset="UTF-8">
    <title>My Log AWS App</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="build/index.css">
    <!-- endinject -->
</head>
<body  ng-app="Main">
<div ng-controller="mainController">

    <div ng-repeat="day in daysOfLogs">
        <div  class="day-title" >
            {{day._id.day}}/{{day._id.month}}
        </div>
        <div class="log-record" ng-repeat="log in day.records" >
            <span class="log-create" ng-bind="log.create"></span>
            :
            <span class="log-text" ng-bind="log.log"></span>
        </div>
    </div>

    <div class="log-record"  >
        <input type="text" ng-model="model.log"/>
    </div>

    <span ng-bind="status"></span>

    <br/>

</div>
<!-- inject:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/ui-route/release/angular-ui-router.js"></script>
<script src="src/Logs.srv.js"></script>
<script src="src/index.js"></script>
<script src="src/new.srv.js"></script>
<!-- endinject -->
</body>
</html>