<!DOCTYPE html>
<html  >
<head lang="en">
    <meta charset="UTF-8">
    <title>My First AWS App</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="src/logs.srv.js"></script>
    <script src="index.js" ></script>
</head>
<body  ng-app="myApp">
<div ng-controller="myController">
    <div class="day-title">10/02</div>
    <br/>
    <div class="record" ng-repeat="logRecord in logRecords" >
        <span class="time-stamp" ng-bind="logRecord.create"></span>
        :
        <span class="text-log" ng-bind="logRecord.log"></span>
    </div>

    <form ng-action="send()">
        <span class="time-stamp" ng-bind="currentTime"></span>
        :
        <input class="log-input" autofocus="autofocus" type="text" ng-model="model.log"/>
    </form>
    <span ng-bind="status"></span>

    <br/>

</div>
<link rel="stylesheet" href="bower_components/normalize.css/normalize.css"/>
<link rel="stylesheet" href="style.css"/>
</body>
</html>