<div class="main-content">


    <div ng-repeat="(titleYear,days) in Log.groupedList">
        <div class="year-title">
            {{titleYear}}
        </div>
        <div class="day" ng-repeat="(titleDay,day) in days">
            <div  class="day-title" >
                {{titleDay}}
            </div>
            <div class="record" ng-repeat="record in day" >
                <div class="record-create-time" ng-bind="record.create | date:'HH:MM' "></div>
                <div class="record-text" ng-bind="record.text"></div>
            </div>
        </div>
    </div>


    <form ng-submit="addLog(model.log)">
        <div class="record" >
            <div class="log-input">
                <input
                        type="text"
                        autofocus="autofocus"
                        ng-model="model.log"/>
            </div>
        </div>
    </form>

    <span ng-bind="status"></span>

    <br/>

</div>