.dictionary{
  direction: ltr;
   h1{
     @extend .main-title;
   }

  .table-dictionary{
    min-width: 24em;
    input{
      width: 100%;
      line-height: 1.1rem;
    }
    .he{
      direction: rtl;
    }
  }

  .action{
    text-align: center;
    width: 2em;
  }
  th.action{
    background-color: transparent;
  }
  tr:last-child{
    .action{
      .remove-word-btn{
        display: none;
      }
    }
  }
}